/* IMPOSTAZIONI GENERALI */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(/assets/img/sfondo.png);
  line-height: 1.5;
  max-width: 500px;
  min-width: 380px;
}

hr {
  border: none;
}

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */

footer {
  text-align: center;
  padding: 20px;
  color: white;
  background: rgb(53, 53, 53);
  background: linear-gradient(
    0deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(5, 85, 103, 1) 68%
  );
  box-shadow: 0 3px 3px #444;
  margin: 5%;
}

footer a {
  color: fuchsia;
}

address {
  margin-top: 5%;
}
