/* IMPOSTAZIONI GENERALI */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

a:visited {
  color: skyblue;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(/assets/img/sfondo.png);
  max-width: 500px;
}

h1 {
  font-size: x-large;
  font-weight: 600;
}

h3,
h5 {
  font-size: large;
  font-weight: 600;
}

/* HEADER */

header {
  text-align: center;
  background-color: skyblue;
  margin: 5%;
  color: white;
}

header img {
  width: 250px;
}

/* MAIN */

main {
  background-color: white;
  margin: 5%;
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

.box-aside {
  background-color: lightgray;
  margin: 2%;
}

aside h3 {
  text-align: center;
}

/* FOOTER */

footer {
  text-align: center;
  margin: 5%;
  color: white;
  background-color: darkcyan;
}
